* {
  outline: solid 1px magenta;
}

html,
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  user-select: none;
}

.display {
  position: relative;
  &-background {
    position: absolute;
  }
  &-canvas {
    position: absolute;
  }
  &-time {
    position: absolute;
    color: white;
  }
}
